body {
    font-family: Arial;
    text-align: center;
}

#layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 5px;
}

/* La propiedad flex-basis permite indicar un ancho mínimo. */
.caja {
    flex-basis: 25%; /* Con esta propiedad se está indicando el ancho que va a ocupar cada caja dentro del contenedor principal con display: flex;. */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background: gray;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.orange {
    background: orange;
}
