* { /* Aquí se estan eliminando los margenes y rellenos (De esta forma las cajas y el contenido no sufren del espaciado que viene por default). */
    margin: 0px;
    padding: 0px;
}

#caja1 {
    width: 250px;
    height: 250px;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    background-color: red;
    display: block; /* La propiedad display: block; es necesaria para que se pueda utilizar la propiedad float. */
    float: left; /* Esta propiedad permite posicionar los contenedores a la izquierda (De esta forma se logra que los contenedores no se coloquen un bajo del otro). */
}

#caja2 {
    width: 250px;
    height: 250px;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    background-color: red;
    display: block; /* La propiedad display: block; es necesaria para que se pueda utilizar la propiedad float. */
    float: left; /* Esta propiedad permite posicionar los contenedores a la izquierda (De esta forma se logra que los contenedores no se coloquen un bajo del otro). */
}

.clearfix {
    float: none; /* Aca se esta indicando que el contenedor no se puede flotar. */
    clear: both; /* La propiedad clear: both; limpia los contenedores flotados que hay arriba (Limpia ambos lados, izquierda y derecha). */
}
