$fuente-tipica: sans-serif, Helvetica, Arial; //Esto es una variable (Se está almacenando distintas fuentes de letras).
$color-fondo: #ccc;
$color-letra: red;
$color-secundario:rgb(200, 0, 0);

body {
  background-color: $color-fondo;
}

h1 {
  color: $color-letra; //Aca se esta asignando el valor de la variable a la propiedad "color".
  font-family: $fuente-tipica;
}

p {
  color: $color-secundario;
}
