$fuente-tipica: sans-serif, Helvetica, Arial;
$color-fondo: #ccc;
$color-letra: red;
$color-secundario: rgb(200, 0, 0);

body {
    background-color: $color-fondo;
}

h1 {
    color: $color-letra;
    font-family: $fuente-tipica;
}

p {
    color: $color-secundario;
}

.caja {
    border: 1px solid black;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    padding: 10px;

    h1 {
        color: blue;
    }

    p {
        color: green;
    }

    .info {
        font-size: 10px;

        .autor{
            font-size: 15px;
            color: orange;
        }
    }
}

@mixin crearBordes($color, $size, $shadow) {
    border: 5px solid $color;
    border-radius: $size;
    box-shadow: 0px 0px 5px $shadow;
}

.caja {
    @include crearBordes(red, 10px, black);
}

.listado {
    @include crearBordes(green, 5px, yellow);
}

%alert-normal {
    margin-top: 10px;
    border: 1px solid gray;
    background: orange;
    color: white;
    padding: 10px;
    width: 100%;
}

.alert {
    @extend %alert-normal;
}

.alert-danger {
    @extend %alert-normal;
    color: red;
    background: yellow;
}

.alert-success {
    @extend %alert-normal;
    color: green;
    background: white;
}

.clearFix {
    clear: both;
    float: none;
}

h1 {
    font-size: 20px + 5px - 1px;
}

$caja: 200px;
$wrap: 900px;

.cajas {
    width: $wrap;
    margin: 0px auto;
}

.caja {
    float: left;
    width: $caja / $wrap * 100%;
}

$color-fondo: black;

h1 {
    @if $color-fondo == #ccc {
        color: green;
    }
    @else if $color-fondo == black {
        color: lightsalmon;
    }
    @else {
        color: pink;
    }
}

//Bucle For (Sirve principalmente para recorrer <li> y lograr que cada uno tenga un estilo propio).
@for $contador from 1 through 3 { //La variable $contador comienza en 1 y termina en 3.
    .listado ul li:nth-child(#{$contador}) { //Aca se esta recorriendo el li actual (Se comienza en el primer li y se termina en el tercero).
        font-size: $contador + 10px;
        color: orange;

        @if $contador == 3 {
            color: green;
        }
    }
}
